.fondo{
    width: 100%;
}
.donwload{
    background-color: black;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    color: #BCBCBC;
    size: 35%;
    border-width: 5%;
    border-style: inset;
    padding-bottom: 5rem;
}

.me{
    width: 30%;
    height: 30%;
    border-radius: 5%;
    margin-right: 5%;
    float: left;
    margin-top: 5%;
}
.text{
    margin-top: 5%;
    padding: 15px;
}
.p{
    margin-top: 15%
}
.downloadcv{
    margin-top: -4%;
    padding: 2%;
}