.foot{
    background-color: black;
    position: absolute;
    display: flex; 
    justify-content: center;
    list-style:none; 
    margin-bottom : 0 !important; 
    width: 100%;
    bottom: 0;
    position: fixed;
}
.donwload{
    background-color: black;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 30%;
    color: #BCBCBC;

}
  
.download:hover{
    border-radius: 50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 5px 5px #ec731e;
    -webkit-box-shadow: 0px 0px 5px 5px #ec731e;
    }